
#body{
  background-color:  #f8f9fa;
}

#topNav{
background-color: #AFF492;
/* #04E474 */
color: blue;
}


#Login{
  margin-right: 3px;
  margin-bottom: 5px;
}

#Cart{
  margin-bottom: 5px;
}


#logoImg{
  height: 85px;
  width: 115px;
}

#menuBar{
  background-color: #AFF492;

}



#hamburger2{
  margin-left: 10px;

}

#navbarsExample08{
    margin-left: 10px;

}

#dropped{
    background-color: #AFF492;
}

#hr1{
  /* width:100%; */
height:3px;
border-width:0;
color:gray;
margin-left:25%;
margin-right:25%;
}


#predlaganiProd{
  /* justify-content: center; */
  /* text-align: center; */
  margin-bottom: 2%;
  /* margin-left:25%;
  margin-right:25%; */

}


/* <!-- div s contact us image  */





@media (min-width: 920.98px) {

  #Cont{
    padding-top: 85px;
    /* background-color: red; */
  }
  #rowA{
    margin-top: 25px;
    /* background-color: purple; */
  }
}



/* <!-- div s contact us image  stop--> */



/* <!-- div contact us  real form --> */
#FormBack{
background-color:  #f8f7fd;
}

#colImg{
  background-color: red;

}



/* form */
input[type=text], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */
border: 1px solid #ccc; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box;
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical
}


input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}



.container {
border-radius: 5px;

padding: 20px;
}

/* form stop */

/* <!-- div contact us real  form  stop--> */




/* map */

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
}

/* map stop */



#Price{
  color: red;
  margin-left: 5px;
  margin-top: 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
